@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,body{
    margin: 0;   /*deleting the default margin*/
    padding: 0;   /*deleting the default padding*/
    width: 100%; /*full width*/
    background-color: var(--font-color);
}

body{
    font-family:poppins;
    font-size: 15px;
    color:white;
    font-weight: 200;
}
header{
    width: 100%;
    height: 100vh;  /*vh means viewport height. it set the element's minimum height to be 100% of the viewport height*/
    background-image: url(main.jpg); /* no repeat means no tile/ dont repeat the image*/
    background-size: cover;  /* cover the diplay screen*/
    background-attachment: fixed; /*bg image is fixed*/
    color:var(--font-color);
    font-size: 1em;    
}
*{
    box-sizing: border-box;
    cursor: pointer;
  } 
  nav{
    display: flex;
    height: 75px;
    width: 100%;
    background: var(--bg-color);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
  }
  nav div img{
    width: 70px;
    height: 70px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: var(--font-color);
    font-family: Lato;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background-color: var(--font-color);
    color: white;
    border: 5px solid #2ede98;
  }
  nav .menu-btn i{
    color: var(--font-color);
    font-size: 23px;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  .searchbar input{
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .searchbar button {
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .searchbar button:hover{
    background: linear-gradient(#2ede98,var(--font-color));
    color:rgb(3, 3, 3);
  }
  
.title{
    font-size: 80px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
    font-weight: 600;
    transition: 4s;
    vertical-align: bottom;
}

.slogan{
    font-size: 26px;
    text-align:left;
    margin-left: 33px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
    transition: 5s;

}
main h1{
    margin: 1em;
    position: fixed;
}
main p{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
main p::first-letter{
    font-size: 2em;
}
article p::first-letter{
    font-size: 2em;
}
.mySlides{
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
main h4{
    font-size: 25px;
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: Acme;
    font-weight: 500;
}
main ol li div{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
main ol{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
.content{
    width: 100%;
    line-height: 25px; 
}
article{
    text-align: center;
}
article p{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
.content p{
    margin: 1em;

}
.h1{
    position: sticky;
    top: 70px;
}
article img{
    width: 600px;
    height: 400px;
    border-radius: 8px;
    transition: 1s;
    text-align: center;
}

article h1{
    font-size: 2em;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 0.5em;
    z-index: 1;
}
#sec1 ul{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec1 ul li div{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
#sec1 p{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec2 ul{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec2 ul li div{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
#sec2 p{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec3 dl dt{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec3 p{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec3 dl dd{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
#sec3 ul{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    list-style: circle;
}
#sec3 ul li{
    font-size: 15px;
}
footer div{
    display: grid;
    font-size: 17px;
    font-weight: 600;
}
footer{
    background-color:var(--bg-color);
    color: var(--font-color);
    text-align: center;
    padding: 1px;
    margin: 0;
}
footer p{
    text-decoration: none;
    font-size: 13px;
}
.gridfooter{
    grid-template-columns: 0.5fr 4fr 2fr 2fr 2fr;
}
.gridfooter p{
    text-align: center;
}
.b2 p{
    padding: 15px;
}
.b3 a{
    font-size: 13px;
    color: var(--font-color);
}
.b3 a:hover{
    font-size: 15px;
    background-color: var(--font-color);
    color: var(--bg-color);
    border-radius: 10px;
    text-decoration: none;
}

.b4 img{
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
}

.b5 img{
    width: 50px;
    height: 50px;
}
.b50{
    display: grid;
    grid-area: 1/1/1/6;
}
.copy{
    background-color: var(--font-color);
    font-size: 1em;
    color: var(--bg-color);
    padding: 5px;
}

/*css variables*/
:root{
    --bg-color:#b8f3d6;
    --font-color:rgb(1, 1, 29);
}
@media screen and (max-width:700px) {
    
    header{
        background-image: url(mobile\ main.jpg);
    }
    nav .menu-btn i{
        display: block;
        color: var(--font-color);
        width: 100%;
        margin-right: 13px;
    
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
        color: #111;
      }
    
      nav .logo{
        width: 50px;
        height: 50px;
        position: fixed;
        }
      .searchbar input{
        width: 200px;
        margin-left: 2%;
        margin-right: 1%;
        }
        .searchbar{
          margin-top: 15px;
        }
      nav ul{
        position: absolute;
        top: 80px;
        left: -300%;
        background: var(--font-color);
        height: 150vh;
        display: block;
        transition: all 0.3s ease;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        text-align: center;
      }
      #click:checked ~ ul{
        left: 0;
        z-index: 2;
      }
      nav ul li{
        width: 100%;
        margin: 10px 0;
      }
      nav ul li a{
        width: 100%;
        display: block;
        font-size: 18px;
        color: var(--bg-color);
      }
      #click:checked ~ ul li a{
        padding-bottom: 20px;
        text-align: left;
        z-index: 2;      
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: #2ede98;
        border: none;
        text-decoration: underline;
        
      }
    
    .title{
        font-size: 40px;
    }
    .slogan{
        font-size: 10px;
        left: 0;
    }
    .mySlides{
        margin-bottom: 30px;
    }
    article img{
        width: 60%;
        height: 60%;
        margin-top: 30px;
    }
    .content{
        font-size: 14px;
    }
    .h1{
        font-size: 20px;
        top: 70px;
        z-index: 0;
    }
    
    main ol{
        margin-left: 30px;
        text-align: justify;
    }
    main ol li div{
        font-size: 14px;
    }
    #sec1 ul li div{
        font-size: 14px;
    }
    #sec2 ul li div{
        font-size: 14px;
    }
    #sec3 dl dt{
        font-size: 14px;
    }
    #sec3 ul li{
        font-size: 14px;
    }
    .b1{
        display: grid;
        grid-area: 1/1/2/2;
    }
    .b1 img{
        width: 90%;
        height: 60%;
    }
    .b2{
        display: grid;
        grid-area: 1/2/2/6;
    }
    .b3{
        grid-area:2/1/3/2;
        margin-left: 10px;
    }
    .b3 a{
        font-size: 9px;
    }
    .b3 a:hover{
        font-size: 9px;
    }
    .b4{
        grid-area: 2/2/3/4;
    }
    .b4 img{
        width: 40%;
        height: 60%;
    }
  
    .b5{
        grid-area: 2/4/3/6;
        margin-right: 10px;
    }
    .b5 img{
        width: 100%;
        height: 40%;
    }
    footer p{
        font-size: 10px;
    }
    footer div{
        font-size: 14px;
    }
    footer{
        width: 100%;
    }
}
