
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
    margin: 0;   /*removing the default margin*/
    padding: 0;   /*removing the default padding*/
    width: 100%; /*full width*/
    background-image: linear-gradient(to bottom,var(--font-color),var(--font-color),var(--font-color),#86f9c1);
}
body{
    font-family:poppins;
    font-size: 15px;
    color: white;
}
header{
    width: 100%;
    height: 10vh;
}
*{
    box-sizing: border-box;
    cursor: pointer;
  } 
  nav{
    display: flex;
    height: 75px;
    width: 100%;
    background: var(--bg-color);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
  }
  nav div img{
    width: 70px;
    height: 70px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: var(--font-color);
    font-family: Lato;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background-color: var(--font-color);
    color: white;
    border: 5px solid #2ede98;
  }
  nav .menu-btn i{
    color: var(--font-color);
    font-size: 23px;
    display: none;
  }
  nav input[type="checkbox"]{
    display: none;
  }
  .searchbar input{
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .searchbar button {
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .searchbar button:hover{
    background: linear-gradient(#2ede98,var(--font-color));
    color:rgb(3, 3, 3);
  }
#intro p{
    line-height: 25px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    font-weight: 200;
    font-family: poppins;
}
#intro h2{
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Acme; 
    text-shadow: 2px 2px 3px var(--bg-color);
    font-weight: 200;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-left: 5px;
    margin-right: 20px;
}
.container img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.box1{
    display: grid;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 7px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.box1 ul li{
    margin-right: 20px;
    text-align: justify;
    line-height: 25px;
}
.box2{
    display: grid;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 7px  rgba(255, 255, 255, 0.5);
}
.box2 ul li{
    margin-right: 20px;
    text-align: justify;
    line-height: 25px;
}
.box3{
    display: grid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 7px   rgba(255, 255, 255, 0.5);
}
.box3 ul li{
    margin-right: 20px;
    text-align: justify;
    line-height: 25px;
}
#loyalty-form{
    line-height: 25px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    font-weight: 400;
}
.field1{
    margin-left: 250px;
    width: 60%;
    text-align: center;
    border:1px solid #c3f2db;
    border-radius: 10px;
}
.field2{
    margin-left: 250px;
    width: 60%;
    text-align: center;
    border:1px solid #c3f2db;
    border-radius: 10px;
}
legend{
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: Acme;
}
.space{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.spaceadd{
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: none;
}
.teldobspace{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
ol li{
    color: var(--font-color);
    font-weight: 600;
}

#button1{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border:2px solid var(--font-color);
    font-size: 16px;
    font-family: lexend;
    text-align: center;
    margin-right: 500px;
    margin-left: 200px;
    
}
#button1:hover{
    background-color:#21f890;
    font-size: 18px;
}
#button2{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #27fc95;
    border:none;
    font-size: 16px;
    font-family: lexend;
    text-align: center;
    margin-right: 200px;
    margin-left:200px;
    font-weight: 600;
}
#button2:hover{
    background-color:#21f890;
    font-size: 18px;
    border:2px solid var(--font-color);

}
.h2{
    font-size: 35px;
    letter-spacing: 2px;
    color: var(--font-color);
    text-shadow: 2px 2px 3px #7fd9ae;
    font-family: Acme;
}
.tick{
    margin-left: 250px;
}
.text{
    color: var(--font-color);
    font-weight: 600;
}
footer div{
    display: grid;
    font-size: 17px;
    font-weight: 600;
}
footer{
    background-color:var(--bg-color);
    color: var(--font-color);
    text-align: center;
    padding: 1px;
    margin: 0;
}
footer p{
    text-decoration: none;
    font-size: 13px;
}
.gridfooter{
    grid-template-columns: 0.5fr 4fr 2fr 2fr 2fr;
}
.gridfooter p{
    text-align: center;
}

.b2 p{
    padding: 15px;
}
.b3 a{
    font-size: 13px;
    color: var(--font-color);
}
.b3 a:hover{
    font-size: 15px;
    background-color: var(--font-color);
    color: var(--bg-color);
    border-radius: 10px;
    text-decoration: none;
}

.b4 img{
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
}

.b5 img{
    width: 50px;
    height: 50px;
}
.b50{
    display: grid;
    grid-area: 1/1/1/6;
}
.copy{
    background-color: var(--font-color);
    font-size: 1em;
    color: var(--bg-color);
    padding: 5px;
}
:root{
    --bg-color:#b8f3d6;
    --font-color:rgb(1, 1, 29);
}

@media screen and (max-width:700px) {
    html,body{
        background-image: linear-gradient(to bottom,var(--font-color),var(--font-color),#86f9c1);
    }
    main{
        font-size: 14px;
    }

    nav .menu-btn i{
    display: block;
    color: var(--font-color);
    width: 100%;
    margin-right: 13px;


  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
    color: #111;
  }
  nav .logo{
    width: 50px;
    height: 50px;
    position: fixed;
    }
  .searchbar input{
    width: 200px;
    margin-left: 2%;
    margin-right: 1%;
    }
    .searchbar{
      margin-top: 15px;
    }
  nav ul{
    position: absolute;
    top: 80px;
    left: -300%;
    background: var(--font-color);
    height: 150vh;
    display: block;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
  }
  #click:checked ~ ul{
    left: 0;
    z-index: 2;
  }
  nav ul li{
    width: 100%;
    margin: 10px 0;
  }
  nav ul li a{
    width: 100%;
    display: block;
    font-size: 18px;
    color: var(--bg-color);
  }
  #click:checked ~ ul li a{
    padding-bottom: 20px;
    text-align: left;
    z-index: 2;      
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #2ede98;
    border: none;
    text-decoration: underline;
    
  }
    #intro h2{
        font-size: 35px;
    }
    .container{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .container img{
        width: 100%;
        height: 95%;
        border-radius: 10px;
    }
    .box1{
        width: 90%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .box2{
        width: 90%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .box3{
        width: 90%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .loyalty-form{
        margin-left: 0;
        width: 100%;
    }
    .field1{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .field2{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .space{
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: none;
    }
    .spaceadd{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        border: none;
    }
    legend{
        font-size: 20px;
    }
    .h2{
        font-size: 25px;
    }
    .tick{
        margin-left: 20px;
    }
    .text{
        font-size: 13px;
        }
    ol li{
        font-size: 13px;
    }
    #button1{
        margin-left: auto;
        margin-right: auto;
    }
    #button2{
        margin-left: auto;
        margin-right: auto;
    }
    .b1{
        display: grid;
        grid-area: 1/1/2/2;
    }
    .b1 img{
        width: 90%;
        height: 60%;
    }
    .b2{
        display: grid;
        grid-area: 1/2/2/6;
    }
    .b3{
        grid-area:2/1/3/2;
        margin-left: 10px;
    }
    .b3 a{
        font-size: 9px;
    }
    .b3 a:hover{
        font-size: 9px;
    }
    .b4{
        grid-area: 2/2/3/4;
    }
    .b4 img{
        width: 40%;
        height: 60%;
    }
  
    .b5{
        grid-area: 2/4/3/6;
        margin-right: 10px;
    }
    .b5 img{
        width: 100%;
        height: 40%;
    }
    footer p{
        font-size: 10px;
    }
    footer div{
        font-size: 14px;
    }
    footer{
        width: 100%;
    }
}