
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
    margin: 0;   /*removing the default margin*/
    padding: 0;   /*removing the default padding*/
    width: 100%; /*full width*/
    background-color: var(--font-color);
}
body{
    font-family: poppins;
    font-size: 15px;
    color:var(--bg-color);
}
header{
    width: 100%;
    height: 10vh;
}
*{
    box-sizing: border-box;
    cursor: pointer;
  } 
  nav{
    display: flex;
    height: 75px;
    width: 100%;
    background: var(--bg-color);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
  }
  nav div img{
    width: 70px;
    height: 70px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: var(--font-color);
    font-family: Lato;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background-color: var(--font-color);
    color: white;
    border: 5px solid #2ede98;
  }
  nav .menu-btn i{
    color: var(--font-color);
    font-size: 23px;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  .searchbar input{
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
  }
  .searchbar .click {
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .searchbar .click:hover{
    background-color: #2ede98;
    color:var(--font-color);
  }
#img img{
    width: 100%;
    height: 10%;
}
#intro p::first-letter{
    font-size: 2em;
}
#intro p{
    line-height: 25px;
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
    font-weight: 200;
    color: white;
}
#intro dl dd{
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
    color: white;
}
#intro dl dt{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
    color: #21f890;
}
hr{
    opacity: 0.3;
    width: 1300px;
}
#type h3{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px;
    gap: 15px;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
}
.item{
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid #21f890;
    justify-content: center;
    font-family: lexend;
    background-color: white;
    color: var(--font-color);
    margin-left: auto;
    margin-right: auto;
}
.box1{
    display: grid;
    justify-content:space-around;
    grid-area: 1/1/3/5;
}
.box1 img{
    width: 200px;
    height:200px;
}
.box2{
    display: grid;
    font-size: 17px;
    font-weight: 700;
    justify-content:space-evenly;
    grid-area:3/1/4/5;
}
.box3{
    display: grid;
    justify-content: center;
    color: var(--font-color);
    font-size: 17px;
    font-family: lexend;
    text-align: center;
    grid-area: 4/1/5/5;
}
.box4{
    display:grid;
    justify-content:center;
    color: var(--font-color);
    font-size: 17px;
    font-family: lexend;
    text-align: center;
    grid-area: 5/1/6/5;
}
.box5{
    display: grid;
    grid-area: 6/1/7/3;
    justify-content: center;
}
.box6{
    display: grid;
    grid-area: 6/3/7/5;
    justify-content: center;
}
#button{
    border-radius: 10px;
    background-color: var(--bg-color);
    border:none;
    font-family: lexend;
    font-size: 16px;
    margin-bottom: 10px;
    width:110px;
    padding: 10px;
}
#button:hover{
    background-color:#21f890;
    font-size: 17px;
}
footer div{
    display: grid;
    
    font-size: 17px;
    font-weight: 600;
}
footer{
    background-color:var(--bg-color);
    color: var(--font-color);
    text-align: center;
    padding: 1px;
    margin: 0;
}
footer p{
    text-decoration: none;
    font-size: 13px;
}
.gridfooter{
    grid-template-columns: 0.5fr 4fr 2fr 2fr 2fr;
}
.gridfooter p{
    text-align: center;
}

.b2 p{
    padding: 15px;
}
.b3 a{
    font-size: 13px;
    color: var(--font-color);
}
.b3 a:hover{
    font-size: 15px;
    background-color: var(--font-color);
    color: var(--bg-color);
    border-radius: 10px;
    text-decoration: none;
}

.b4 img{
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
}

.b5 img{
    width: 50px;
    height: 50px;
}
.b50{
    display: grid;
    grid-area: 1/1/1/6;
}
.copy{
    background-color: var(--font-color);
    font-size: 1em;
    color: var(--bg-color);
    padding: 5px;
}

/*css variables*/
:root{
    --bg-color:#b8f3d6;
    --font-color:rgb(1, 1, 29);
}

@media screen and (max-width:700px){
    nav .menu-btn i{
        display: block;
        color: var(--font-color);
        width: 100%;
        margin-right: 13px;
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
        color: #000000;
      }
      nav .logo{
        width: 50px;
        height: 50px;
        position: fixed;
        }
      .searchbar input{
        width: 200px;
        margin-left: 2%;
        margin-right: 1%;
        }
        .searchbar{
          margin-top: 15px;
        }
      nav ul{
        position: absolute;
        top: 80px;
        left: -300%;
        background: var(--font-color);
        height: 150vh;
        display: block;
        transition: all 0.3s ease;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        text-align: center;
      }
      #click:checked ~ ul{
        left: 0;
        z-index: 2;
      }
      nav ul li{
        width: 100%;
        margin: 10px 0;
      }
      nav ul li a{
        width: 100%;
        display: block;
        font-size: 18px;
        color: var(--bg-color);
      }
      #click:checked ~ ul li a{
        padding-bottom: 20px;
        text-align: left;
        z-index: 2;      
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: #2ede98;
        border: none;
        text-decoration: underline;
    }
    #img img{
        margin-top: 2%;
    }
    #intro{
        font-size: 14px;
    }
    #intro dl dt{
        font-size: 16px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
    hr{
        width: 90%;
    }
    .item{
        width: 250px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .box1 img{
        width: 170px;
        height: 170px;
    }
    .box2{
        font-size: 19px;
        font-weight: 600;
    }
    #button{
        font-size: 15px;
        width: 100%;
        text-align: center;
        margin-left: 10px;
        }
    #button:hover{
        font-size: 14px;
    }
    .box5{
        height: 30px;
        width: 90px;
        margin-bottom: 20px;    
    } 
    .box6{
        height: 30px;
        width: 90px;
        margin-bottom: 20px;
    } 
    .b1{
        display: grid;
        grid-area: 1/1/2/2;
    }
    .b1 img{
        width: 90%;
        height: 60%;
    }
    .b2{
        display: grid;
        grid-area: 1/2/2/6;
    }
    .b3{
        grid-area:2/1/3/2;
        margin-left: 10px;
    }
    .b3 a{
        font-size: 9px;
    }
    .b3 a:hover{
        font-size: 9px;
    }
    .b4{
        grid-area: 2/2/3/4;
    }
    .b4 img{
        width: 40%;
        height: 60%;
    }
  
    .b5{
        grid-area: 2/4/3/6;
        margin-right: 10px;
    }
    .b5 img{
        width: 100%;
        height: 40%;
    }
    footer p{
        font-size: 10px;
    }
    footer div{
        font-size: 14px;
    }
    footer{
        width: 100%;
    }
}